{% load static %}
<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="{% url "catalog_products" %}"><img src="{% static "img/logo.png" %}" alt=""></a>
                    </div>
                    <p class="text-justify">
                        IBAFEX es una empresa dedicada a la distribución de productos de consumo masivo, como abarrotes y artículos de limpieza. Brindamos atención tanto al por mayor como al por menor, con un enfoque en precios accesibles, productos de calidad y un servicio rápido y confiable, pensado para negocios y consumidores finales.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>CONTACTANOS</h6>
                    <li><a href="">Correo: <span class="number_style">ibafex.ha@gmail.com</span></a></li>
                    <li><a href="">Telefono: <span class="number_style">(+51) 919 294 944</span></a></li>

                    <div class="header__top__right__social">
                        <a href="https://www.facebook.com/share/1KKirRcqZs/"><i class="fa fa-facebook"></i></a> 
                        <a href="https://www.instagram.com/ibafex?utm_source=qr&igsh=a3Qyanl0dmZxOTF2"><i class="fa fa-instagram"></i></a> 
                        <a href="https://www.tiktok.com/@corporacion.ibafe4?is_from_webapp=1&sender_device=pc"><i class="fa-brands fa-tiktok"></i></a> 
                        <a href="https://www.linkedin.com/in/corporacion-ibafex-h-a-s-a-c-1a2766232/"><i class="fa fa-linkedin"></i></a> 
                    </div>
                    <span>Redes sociales</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>MEDIOS DE PAGOS</h6>
                    <p>Realiza tus pagos con total seguridad</p>
                    <div><img src="{% static "img/medios_pagos.png" %}" width="300px" alt=""></div>
                </div>
            </div>
        </div>
        <div class="row">
            {% comment %} <div class="footer__copyright__payment"><img src="{% static "img/medios_pagos.png" %}" width="300px" alt=""></div> {% endcomment %}
            <div class="footer__copyright__payment"><img src="{% static "img/banner-footer.png" %}" alt=""></div>
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | La tienda virtual es hecho por IbaFex</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    // Función para guardar la posición de scroll
    function saveScrollPosition() {
        localStorage.setItem('scrollPosition', window.scrollY); // Guardar la posición del scroll en localStorage
    }

    // Restaurar la posición de scroll cuando la página se recarga
    window.onload = function() {
        let scrollPosition = localStorage.getItem('scrollPosition');  // Obtener la posición guardada

        if (scrollPosition) {
            window.scrollTo(0, scrollPosition); // Restaurar la posición del scroll
            localStorage.removeItem('scrollPosition'); // Limpiar la posición después de restaurarla
        }
    }
</script>

<script>
    document.querySelector('a[href^="#"]').addEventListener('click', function(e) {
        e.preventDefault();
        var targetId = this.getAttribute("href");
        document.querySelector(targetId).scrollIntoView({
            behavior: "smooth"
        });
    });
</script>



